@{
    ViewBag.Title="About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<body class="page-template-default page page-id-1999 page-child parent-pageid-1897 fusion-image-hovers fusion-body ltr no-tablet-sticky-header no-mobile-sticky-header no-mobile-slidingbar layout-wide-mode has-sidebar mobile-menu-design-classic fusion-show-pagination-text">
    <div id="wrapper" class="">
        <div id="home" style="position:relative;top:-1px;"></div>


        <div id="sliders-container">
        </div>




        <main id="main" role="main" class="clearfix " style="">
            <div class="fusion-row" style="">
                <section id="content" style="float: right;">
                    <div id="post-1999" class="post-1999 page type-page status-publish hentry">

                        <span class="entry-title rich-snippet-hidden">
                            About Us
                        </span>

                        <span class="vcard rich-snippet-hidden">
                            <span class="fn">
                                <a href="http://nationalhbpa.com/author/patrickbluemillion-com/" title="Posts by patrick@bluemillion.com" rel="author">patrick@bluemillion.com</a>
                            </span>
                        </span>

                        <span class="updated rich-snippet-hidden">
                            2016-11-03T12:42:53+00:00
                        </span>


                        <div class="post-content">
                            <div class="fusion-fullwidth fullwidth-box hundred-percent-fullwidth" style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;'>
                                <div class="fusion-builder-row fusion-row ">
                                    <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1" style='margin-top:0px;margin-bottom:0px;'>
                                        <div class="fusion-column-wrapper" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                                            <div class="fusion-title title fusion-title-size-one" style="margin-top:0px;margin-bottom:31px;"><h1 class="title-heading-left">About Kentucky HBPA</h1><div class="title-sep-container"><div class="title-sep sep-double" style="border-color:#e0dede;"></div></div></div><div class="fusion-clearfix"></div>

                                        </div>
                                    </div><div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last 1_1" style='margin-top:0px;margin-bottom:20px;'>
                                        <div class="fusion-column-wrapper" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                                            <p style="text-align: center;"><strong>THE HBPA IS YOU</strong></p>
                                            <p>The HBPA, established in 1940, is an organization of Owners and Trainers, approximately 40,000 nationally in 23 states and Canada, and over 6,000 in Kentucky. The association is governed by a <a href="/kentucky-hbpa/board-of-directors/">Board of Directors</a> consisting of Owners and Trainers volunteering their time and elected by the membership every three years. The HBPA is committed to working for the betterment of racing on all levels.</p>
                                            <p>The HBPA represents owners and trainers on several fronts:</p>
                                            <ul>
                                                <li><em>In negotiating sessions with each race track regarding purse structure, equitable share of simulcast revenues, overall track safety, sanitation and security.</em></li>
                                                <li><em>The HBPA provides benevolence to horsemen in need, education and recreation programs to the backstretch, various insurance packages which include &#8211; free of charge to members &#8211; <a href="/kentucky-hbpa/fire-disaster-and-vanning-insurance/">Fire and Disaster Insurance</a> and <a href="/kentucky-hbpa/claiming-insurance/" target="_blank">Claiming Insurance</a>. Visit one of the fully staffed HBPA offices at the currently running race track in Kentucky for details.</em></li>
                                                <li><em>The HBPA works in conjunction with the Chaplaincy Program , and the <a href="http://www.kyracinghealth.com/" target="_blank">Kentucky Racing Health and Welfare Fund</a> to provide support and benefits for Horsemen.</em></li>
                                                <li><em>The HBPA supports scientific research and marketing initiatives on a regional and national level to help promote interest in Thoroughbred racing.</em></li>
                                                <li><em>The HBPA is at the forefront in litigation and legislation on issues involving Horsemen&#8217;s rights with regards to Interstate Simulcasting, Proprietary Rights, Casino Gambling, Therapeutic Medication, Sports Betting and many other areas of concern to Horsemen.</em></li>
                                            </ul>
                                            <p style="text-align: center;"><strong>HOW CAN I JOIN ?</strong></p>
                                            <p>You are invited to drop into the HBPA office to meet the staff and learn more about current projects and how you can get involved in helping to improve the industry. There are no membership fees. Remember &#8211; This is your organization. Become an active participant and one of the <strong>&#8220;<em>HORSEMEN HELPING HORSEMEN</em>&#8220;.</strong></p>
                                            <p style="text-align: center;">
                                                PLEASE TAKE A MOMENT TO<br />
                                                <a href="http://www.kyhbpa.org/membershipcard.asp" target="_blank">Print, Sign, &amp; Fax or Mail our Membership Card</a><br />
                                                APPOINTING THE HBPA AS YOUR HORSEMEN&#8217;S ORGANIZATION.
                                            </p>
                                            <div class="fusion-clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <aside id="sidebar" role="complementary" class="sidebar fusion-widget-area fusion-content-widget-area fusion-sidebar-left fusion-kentuckyhbpa-menu" style="float: left;">

                    <div id="text-6" class="widget widget_text">
                        <div class="textwidget">
                            <div class="imageframe-align-center"><span class="fusion-imageframe imageframe-none imageframe-1 hover-type-none"><a class="fusion-no-lightbox" href="/kentucky-hbpa" target="_self"><img src="/wp-content/uploads/logo.png" width="" height="" alt="" class="img-responsive" /></a></span></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-1 .fusion-button-text, .fusion-button.button-1 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-1 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-1 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-1:hover .fusion-button-text, .fusion-button.button-1:hover i, .fusion-button.button-1:focus .fusion-button-text, .fusion-button.button-1:focus i, .fusion-button.button-1:active .fusion-button-text, .fusion-button.button-1:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-1:hover, .fusion-button.button-1:focus, .fusion-button.button-1:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-1:hover .fusion-button-icon-divider, .fusion-button.button-1:hover .fusion-button-icon-divider, .fusion-button.button-1:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-1 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-1:hover, .button-1:focus, .fusion-button.button-1:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-1 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-1" target="_self" href="/kentucky-hbpa/news/"><span class="fusion-button-text">News</span></a></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-2 .fusion-button-text, .fusion-button.button-2 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-2 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-2 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-2:hover .fusion-button-text, .fusion-button.button-2:hover i, .fusion-button.button-2:focus .fusion-button-text, .fusion-button.button-2:focus i, .fusion-button.button-2:active .fusion-button-text, .fusion-button.button-2:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-2:hover, .fusion-button.button-2:focus, .fusion-button.button-2:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-2:hover .fusion-button-icon-divider, .fusion-button.button-2:hover .fusion-button-icon-divider, .fusion-button.button-2:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-2 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-2:hover, .button-2:focus, .fusion-button.button-2:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-2 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-2" target="_self" href="/kentucky-hbpa/about-us/"><span class="fusion-button-text">About Us</span></a></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-3 .fusion-button-text, .fusion-button.button-3 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-3 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-3 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-3:hover .fusion-button-text, .fusion-button.button-3:hover i, .fusion-button.button-3:focus .fusion-button-text, .fusion-button.button-3:focus i, .fusion-button.button-3:active .fusion-button-text, .fusion-button.button-3:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-3:hover, .fusion-button.button-3:focus, .fusion-button.button-3:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-3:hover .fusion-button-icon-divider, .fusion-button.button-3:hover .fusion-button-icon-divider, .fusion-button.button-3:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-3 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-3:hover, .button-3:focus, .fusion-button.button-3:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-3 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-3" target="_self" href="/kentucky-hbpa/board-of-directors/"><span class="fusion-button-text">Board of Directors</span></a></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-4 .fusion-button-text, .fusion-button.button-4 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-4 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-4 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-4:hover .fusion-button-text, .fusion-button.button-4:hover i, .fusion-button.button-4:focus .fusion-button-text, .fusion-button.button-4:focus i, .fusion-button.button-4:active .fusion-button-text, .fusion-button.button-4:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-4:hover, .fusion-button.button-4:focus, .fusion-button.button-4:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-4:hover .fusion-button-icon-divider, .fusion-button.button-4:hover .fusion-button-icon-divider, .fusion-button.button-4:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-4 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-4:hover, .button-4:focus, .fusion-button.button-4:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-4 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-4" target="_self" href="/kentucky-hbpa/benefits/"><span class="fusion-button-text">Benefits</span></a></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-5 .fusion-button-text, .fusion-button.button-5 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-5 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-5 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-5:hover .fusion-button-text, .fusion-button.button-5:hover i, .fusion-button.button-5:focus .fusion-button-text, .fusion-button.button-5:focus i, .fusion-button.button-5:active .fusion-button-text, .fusion-button.button-5:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-5:hover, .fusion-button.button-5:focus, .fusion-button.button-5:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-5:hover .fusion-button-icon-divider, .fusion-button.button-5:hover .fusion-button-icon-divider, .fusion-button.button-5:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-5 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-5:hover, .button-5:focus, .fusion-button.button-5:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-5 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-5" target="_self" href="/kentucky-hbpa/calendar/"><span class="fusion-button-text">Calendar</span></a></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-6 .fusion-button-text, .fusion-button.button-6 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-6 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-6 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-6:hover .fusion-button-text, .fusion-button.button-6:hover i, .fusion-button.button-6:focus .fusion-button-text, .fusion-button.button-6:focus i, .fusion-button.button-6:active .fusion-button-text, .fusion-button.button-6:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-6:hover, .fusion-button.button-6:focus, .fusion-button.button-6:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-6:hover .fusion-button-icon-divider, .fusion-button.button-6:hover .fusion-button-icon-divider, .fusion-button.button-6:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-6 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-6:hover, .button-6:focus, .fusion-button.button-6:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-6 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-6" target="_blank" rel="noopener noreferrer" href="/kentucky-hbpa/links/"><span class="fusion-button-text">Links</span></a></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-7 .fusion-button-text, .fusion-button.button-7 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-7 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-7 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-7:hover .fusion-button-text, .fusion-button.button-7:hover i, .fusion-button.button-7:focus .fusion-button-text, .fusion-button.button-7:focus i, .fusion-button.button-7:active .fusion-button-text, .fusion-button.button-7:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-7:hover, .fusion-button.button-7:focus, .fusion-button.button-7:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-7:hover .fusion-button-icon-divider, .fusion-button.button-7:hover .fusion-button-icon-divider, .fusion-button.button-7:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-7 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-7:hover, .button-7:focus, .fusion-button.button-7:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-7 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-7" target="_self" href="/kentucky-hbpa/contact-us/"><span class="fusion-button-text">Contact Us</span></a></div>
                            <br>
                            <br>
                            <div class="fusion-button-wrapper">
                            <style type="text/css" scoped="scoped">
                                .fusion-button.button-8 .fusion-button-text, .fusion-button.button-8 i {
                                    color: #ffffff;
                                }

                                .fusion-button.button-8 {
                                    border-width: 0px;
                                    border-color: #ffffff;
                                }

                                    .fusion-button.button-8 .fusion-button-icon-divider {
                                        border-color: #ffffff;
                                    }

                                    .fusion-button.button-8:hover .fusion-button-text, .fusion-button.button-8:hover i, .fusion-button.button-8:focus .fusion-button-text, .fusion-button.button-8:focus i, .fusion-button.button-8:active .fusion-button-text, .fusion-button.button-8:active {
                                        color: #ffffff;
                                    }

                                    .fusion-button.button-8:hover, .fusion-button.button-8:focus, .fusion-button.button-8:active {
                                        border-width: 0px;
                                        border-color: #ffffff;
                                    }

                                        .fusion-button.button-8:hover .fusion-button-icon-divider, .fusion-button.button-8:hover .fusion-button-icon-divider, .fusion-button.button-8:active .fusion-button-icon-divider {
                                            border-color: #ffffff;
                                        }

                                .fusion-button.button-8 {
                                    background: #90632d;
                                }

                                    .fusion-button.button-8:hover, .button-8:focus, .fusion-button.button-8:active {
                                        background: #90632d;
                                    }

                                .fusion-button.button-8 {
                                    width: 100%;
                                }
                            </style><a class="fusion-button button-flat fusion-button-square button-medium button-custom button-8" target="_self" href="/kentucky-hbpa/how-to-join/"><span class="fusion-button-text">How to Join</span></a></div>
                            <br>
                            <br><div class="imageframe-align-center"><span class="fusion-imageframe imageframe-none imageframe-2 hover-type-none"><img src="/wp-content/uploads/ky_flag.jpg" width="" height="" alt="" title="" class="img-responsive" /></span></div><br>
                            <br><div class="imageframe-align-center"><span class="fusion-imageframe imageframe-none imageframe-3 hover-type-none"><a class="fusion-no-lightbox" href="https://www.facebook.com/pages/Kentucky-HBPA/271661046209327" target="_blank" rel="noopener noreferrer"><img src="/wp-content/uploads/facebook2.png" width="" height="" alt="" class="img-responsive" /></a></span></div>
                        </div>
                    </div>
                </aside>

            </div>  <!-- fusion-row -->
        </main>  <!-- #main -->





        <div class="fusion-footer">


            <footer role="contentinfo" class="fusion-footer-widget-area fusion-widget-area">
                <div class="fusion-row">
                    <div class="fusion-columns fusion-columns-4 fusion-widget-area">

                        <div class="fusion-column col-lg-3 col-md-3 col-sm-3">
                        </div>
                        <div class="fusion-column col-lg-3 col-md-3 col-sm-3">
                        </div>
                        <div class="fusion-column col-lg-3 col-md-3 col-sm-3">
                        </div>
                        <div class="fusion-column fusion-column-last col-lg-3 col-md-3 col-sm-3">
                        </div>

                        <div class="fusion-clearfix"></div>
                    </div> <!-- fusion-columns -->
                </div> <!-- fusion-row -->
            </footer> <!-- fusion-footer-widget-area -->


            <footer id="footer" class="fusion-footer-copyright-area fusion-footer-copyright-center">
                <div class="fusion-row">
                    <div class="fusion-copyright-content">

                        <div class="fusion-copyright-notice">
                            <div>
                                <i>Banner image courtesy Bobby Shiflet | Frames On Main Gallery, Paris, KY | (859) 987-0172</i><br><br>
                                Copyright 2017 National Horsemen's Benevolent and Protective Association | All Rights Reserved | 870 Corporate Drive
                                Suite 300 |
                                Lexington, KY 40503-5419 | 866-245-1711 | <a href="mailto:racing@hbpa.org">racing@hbpa.org</a>
                            </div>
                        </div>
                        <div class="fusion-social-links-footer">
                        </div>

                    </div> <!-- fusion-fusion-copyright-content -->
                </div> <!-- fusion-row -->
            </footer> <!-- #footer -->
        </div> <!-- fusion-footer -->
    </div> <!-- wrapper -->

    <a class="fusion-one-page-text-link fusion-page-load-link"></a>

    <!-- Custom Facebook Feed JS -->
    <script type="text/javascript">
var cfflinkhashtags = "true";
    </script>
    <script type="text/javascript">
		/*<![CDATA[*/
		var gmapstyles = 'default';
		/* ]]> */
    </script>
    <script type="text/javascript">
				jQuery( document ).ready( function() {
					var ajaxurl = 'http://nationalhbpa.com/wp-admin/admin-ajax.php';
					if ( 0 < jQuery( '.fusion-login-nonce' ).length ) {
						jQuery.get( ajaxurl, { 'action': 'fusion_login_nonce' }, function( response ) {
							jQuery( '.fusion-login-nonce' ).html( response );
						});
					}
				});
    </script>
    <div class='evo_lightboxes' style='display:block'>
        <div class='evo_lightbox eventcard eventon_events_list' id=''>
            <div class="evo_content_in">
                <div class="evo_content_inin">
                    <div class="evo_lightbox_content">
                        <a class='evolbclose '>X</a>
                        <div class='evo_lightbox_body eventon_list_event evo_pop_body evcal_eventcard'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/custom-facebook-feed/js/cff-scripts.js?ver=2.4.6'></script>
    <!--[if IE 9]>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-ie9.js?ver=1'></script>
    <![endif]-->
    <script type='text/javascript' src='//nationalhbpa.com/wp-content/plugins/eventON/assets/js/eventon_functions.js?ver=2.6'></script>
    <script type='text/javascript' src='//nationalhbpa.com/wp-content/plugins/eventON/assets/js/jquery.mobile.min.js?ver=2.6'></script>
    <script type='text/javascript' src='//nationalhbpa.com/wp-content/plugins/eventON/assets/js/jquery.mousewheel.min.js?ver=2.6'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var the_ajax_script = {"ajaxurl":"http:\/\/nationalhbpa.com\/wp-admin\/admin-ajax.php","postnonce":"09f7f7d744"};
/* ]]> */
    </script>
    <script type='text/javascript' src='//nationalhbpa.com/wp-content/plugins/eventON/assets/js/eventon_script.js?ver=2.6'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/isotope.js?ver=3.0.4'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.infinitescroll.js?ver=2.1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-core/js/min/avada-faqs.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.fitvids.js?ver=1.1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionVideoGeneralVars = {"status_vimeo":"1","status_yt":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/fusion-video-general.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionLightboxVideoVars = {"lightbox_video_width":"1280","lightbox_video_height":"720"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.ilightbox.js?ver=2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.mousewheel.js?ver=3.0.6'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionLightboxVars = {"status_lightbox":"1","lightbox_gallery":"1","lightbox_skin":"metro-white","lightbox_title":"1","lightbox_arrows":"1","lightbox_slideshow_speed":"5000","lightbox_autoplay":"","lightbox_opacity":"0.9","lightbox_desc":"1","lightbox_social":"1","lightbox_deeplinking":"1","lightbox_path":"vertical","lightbox_post_images":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-lightbox.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/imagesLoaded.js?ver=3.1.8'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/packery.js?ver=2.0.0'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var avadaPortfolioVars = {"lightbox_behavior":"all","infinite_finished_msg":"<em>All items displayed.<\/em>","infinite_blog_text":"<em>Loading the next set of posts...<\/em>","content_break_point":"800"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-core/js/min/avada-portfolio.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/cssua.js?ver=2.1.28'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.waypoints.js?ver=2.0.3'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/modernizr.js?ver=3.3.1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-waypoints.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionAnimationsVars = {"disable_mobile_animate_css":"0"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-animations.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/library/jquery.countTo.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.easyPieChart.js?ver=2.1.7'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.appear.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-counters-circle.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionEqualHeightVars = {"content_break_point":"800"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-equal-heights.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-events.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-flip-boxes.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.fade.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.requestAnimationFrame.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/fusion-parallax.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionVideoBgVars = {"status_vimeo":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/fusion-video-bg.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionContainerVars = {"content_break_point":"800"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-container.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionBgImageVars = {"content_break_point":"800"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-column-bg-image.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-column.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionCountersBox = {"counter_box_speed":"1000"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-counters-box.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-content-boxes.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-progress.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-title.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/bootstrap.collapse.js?ver=3.1.1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-toggles.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/bootstrap.transition.js?ver=3.3.6'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/bootstrap.tab.js?ver=3.1.1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionTabVars = {"content_break_point":"800"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-tabs.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-gallery.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionMapsVars = {"admin_ajax":"http:\/\/nationalhbpa.com\/wp-admin\/admin-ajax.php","admin_ajax_nonce":"00e0b169ac"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.fusion_maps.js?ver=2.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-google-map.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/library/jquery.countdown.js?ver=1.0'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-countdown.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.cycle.js?ver=3.0.3'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionTestimonialVars = {"testimonials_speed":"4000"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-testimonials.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/bootstrap.modal.js?ver=3.1.1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-modal.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-includes/js/mediaelement/froogaloop.min.js?ver=2.0'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionVideoVars = {"status_vimeo":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-builder/assets/js/min/general/fusion-video.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/bootstrap.tooltip.js?ver=3.3.5'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/bootstrap.popover.js?ver=3.3.5'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.carouFredSel.js?ver=6.2.1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.easing.js?ver=1.3'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.flexslider.js?ver=2.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.hoverflow.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.hoverintent.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.placeholder.js?ver=2.0.7'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.touchSwipe.js?ver=1.6.6'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-alert.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionCarouselVars = {"related_posts_speed":"2500","carousel_speed":"2500"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-carousel.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionFlexSliderVars = {"status_vimeo":"1","page_smoothHeight":"false","slideshow_autoplay":"1","slideshow_speed":"7000","pagination_video_slide":"","status_yt":"1","flex_smoothHeight":"false"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-flexslider.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-popover.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-tooltip.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-sharing-box.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionBlogVars = {"infinite_blog_text":"<em>Loading the next set of posts...<\/em>","infinite_finished_msg":"<em>All items displayed.<\/em>","slideshow_autoplay":"1","slideshow_speed":"7000","pagination_video_slide":"","status_yt":"1","lightbox_behavior":"all","blog_pagination_type":"Pagination","flex_smoothHeight":"false"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-blog.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-button.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-general-global.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionIe1011Vars = {"form_bg_color":"#ffffff"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-ie1011.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-scroll-to-anchor.js?ver=1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var fusionTypographyVars = {"site_width":"1200px","typography_sensitivity":"0.60","typography_factor":"1.50"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/includes/lib/assets/min/js/general/fusion-responsive-typography.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/library/bootstrap.scrollspy.js?ver=3.3.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var avadaCommentVars = {"title_style_type":"double","title_margin_top":"0px","title_margin_bottom":"31px"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-comments.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-general-footer.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-quantity.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-scrollspy.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-select.js?ver=5.2.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var avadaSidebarsVars = {"header_position":"top","header_layout":"v4","header_sticky":"1","header_sticky_type2_layout":"menu_only","side_header_break_point":"1150","header_sticky_tablet":"0","sticky_header_shrinkage":"1","nav_height":"40","content_break_point":"800"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-sidebars.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/library/jquery.sticky-kit.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-tabs-widget.js?ver=5.2.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var toTopscreenReaderText = {"label":"Go to Top"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/library/jquery.toTop.js?ver=1.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var avadaToTopVars = {"status_totop_mobile":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-to-top.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-drop-down.js?ver=5.2.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var avadaRevVars = {"avada_rev_styles":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-rev-styles.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-gravity-forms.js?ver=5.2.2'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/library/jquery.elasticslider.js?ver=5.2.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var avadaElasticSliderVars = {"tfes_autoplay":"1","tfes_animation":"sides","tfes_interval":"3000","tfes_speed":"800","tfes_width":"150"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/themes/Avada/assets/min/js/general/avada-elastic-slider.js?ver=5.2.2'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var avadaFusionSliderVars = {"side_header_break_point":"1150","slider_position":"below","header_transparency":"0","header_position":"Top","content_break_point":"800","status_vimeo":"1"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-content/plugins/fusion-core/js/min/avada-fusion-slider.js?ver=1'></script>
    <script type='text/javascript' src='http://nationalhbpa.com/wp-includes/js/wp-embed.min.js?ver=4.8.2'></script>

</body>