@{
    ViewBag.Title = "Board of Directors";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> <strong>President:</strong><br/>
    Rick Hiles<br />
    Rickhiles1@aol.com<br />
        <br />
    <strong>Vice President:</strong><br/>
    Frank Jones, Jr.<br />
    jjohnson@recrenoics.com<br />
        <br />
    <strong>Vice President:</strong><br />
    Dale Romans<br />
    dalerracing@aol.com<br />
        <br />
    <strong>Executive Director:</strong><br />
    Martin Maline<br />
    kymarty@aol.com<br />
        <br />
    <strong>Treasurer:</strong><br />
    John Griffith<br />
    Margaritaville52@yahoo.com<br />
        <br />
    <strong>Executive Assistant:</strong><br />
    Sara Toomey<br />
    KentuckyHBPA@gmail.com<br />
        <br />
    <strong>Owner Director:</strong><br />
    Mark C. Bacon<br />
    Mark_Bacon@B-F.com<br />
        <br />
    <strong>Owner Director:</strong><br />
    F. Thomas Conway<br />
    FTConway@yahoo.com<br />
        <br />
    <strong>Owner Director:</strong><br />
    Travis Foley Jr.<br />
    G.Foley@gregfoleyracing.com<br />
        <br />
    <strong>Owner Director:</strong><br />
    William (Buff) Bradley<br />
    buffracing@aol.com<br />
        <br />
    <strong>Trainer Director:</strong><br />
    William R. Connelly<br/>
    BillConnelly1956@gmail.com<br/>
        <br /> 
    <strong>Trainer Director:</strong><br />
    John Hancock<br />
    JADstables@gmail.com<br />
        <br />
    <strong>Trainer Director:</strong><br />
    Ken McPeek <br />
    kenny@mcpeekracing.com <br />
    <br />
    <strong>Alternate Trainer Director:</strong><br />
    R.C. Sturgeon <br />
    bobbysturgeon@gmail.com
</p>

