@using System.Text
@{
    ViewBag.Title = "Kentucky Horsemen's Benevolent and Protective Association";
}

<div class="jumbotron">
    <h1>Kentucky Horsemen's Benevolent and Protective Association</h1>
    <p class="lead">
        The HBPA, established in 1940, is an organization of Owners and Trainers,
        approximately 40,000 nationally in 23 states and Canada, and over 6,000 in Kentucky.
        The association is governed by a Board of Directors consisting of Owners and Trainers
        volunteering their time and elected by the membership every three years. The HBPA is
        committed to working for the betterment of racing on all levels.
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Join us on the track!</p>
        <p>@Html.ActionLink("See more »", "Events", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Read about current issues.</p>
        <p>@Html.ActionLink("See more »", "News", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Legislation</h2>
        <p>Help us advocate for horsemen's rights.</p>
        <p>@Html.ActionLink("Learn more »", "Legislation", "Home", null, new { Class = "btn btn-default" })</p>
    </div>
</div>
