@{ 
    ViewBag.Title = "UploadDocument";
}

<h2>UploadDocument</h2>

@using (Html.BeginForm("uploadDocument", "UploadDocument", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file"}) <br />
        <input type="submit" value="UploadDocument" />
        @ViewBag.Message
    </div>
}