body {

}

.button {
    background-color: darkorange;
    border: none;
    color: navy;
    font: bold italic;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
}

.button:hover {
        background-color: white;
        color: orange;
}