body {

}

.button {
    background-color: orange;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 8px;
}

    .button:hover {
        background-color: white;
        color: orange;
        border: solid;
    }